# Entorno virtual
env/

# Archivos de configuración locales
.env

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Directorios de caché de pruebas
.pytest_cache/

# Configuración de IDEs
.vscode/
.idea/
